## 06/24
## Intro to Programming

### Hello World <a id='helloworld'> </a>

In [1]:
print("Hello")

Hello

In [1]:
str = "great lakes"

In [3]:
print(str)

great lakes

In [4]:
marks = 85

In [5]:
print(marks)

85

In [6]:
marks = 99
print("My marks is", marks)

My marks is 99

In [7]:
print("City Delhi") # Line Comment Starts

City Delhi

### Identifiers <a id='identifiers'></a>

In [8]:
# multiple statements on a single line
temp = 25; temp1 = "hello"
print(temp); print(temp1)

25
hello

In [9]:
temp = 22
Temp = 33

In [10]:
print(temp)

22

In [11]:
print(Temp)

33

In [12]:
temp$me = 66

SyntaxError: invalid syntax (<ipython-input-12-dc75e5d317f0>, line 1)

In [13]:
75temp = 32

SyntaxError: invalid syntax (<ipython-input-13-0b9182a764af>, line 1)

In [14]:
def = 45

SyntaxError: invalid syntax (<ipython-input-14-7fb156a87c78>, line 1)

### Functions <a id='functions'></a>

In [1]:
def fact(x):
    if x == 0:
        #print(x)
        val = 1
    else:
        #print(x)
        val = x * fact(x-1)
    
    return val

In [4]:
print(fact(5))

120

### Strings <a id='strings' ></a>

In [7]:
word = 'word'

In [8]:
print(word)

word

In [9]:
sentence = "This is a sentence"
print(sentence)

This is a sentence

In [10]:
paragraph = """This is a paragraph made up of
multiple lines and sentences"""
print(paragraph)

This is a paragraph made up of
multiple lines and sentences

In [11]:
str = 'word"
print(str)

SyntaxError: EOL while scanning string literal (<ipython-input-11-28b44889e25b>, line 1)

In [12]:
str = 'word"'
print(str)

word"

### Comments <a id='comments' ></a>

In [13]:
"""
This is a block comment
"""

'\nThis is a block comment\n'

In [14]:
'''
THis is 
'''

'\nTHis is \n'

In [15]:
""" comments """

' comments '

In [16]:
5

5

### Variables <a id='variables' ></a>

In [17]:
a = b = c = 89
print(a)
print(b)
print(c)

89
89
89

In [19]:
x, y, z = 34, "Hello", 98.765
print(x)
print(y)
print(z)

34
Hello
98.765

In [21]:
print(x, y, z)

34 Hello 98.765

In [25]:
print(x y z)

SyntaxError: invalid syntax (<ipython-input-25-eb2d1b8e0f04>, line 1)

In [26]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [27]:
type(x)

int

In [28]:
type(x, y)

TypeError: type() takes 1 or 3 arguments

In [29]:
print(type(x), type(y))

<class 'int'> <class 'str'>

In [1]:
numc = 2 + 3.14j
type(numc)

complex

In [2]:
numc

(2+3.14j)

In [3]:
numc.real

2.0

In [4]:
numc.imag

3.14

In [34]:
numc = 4 + 3j

In [35]:
numc.real

4.0

In [36]:
numc.imag

3.0

### Lists <a id='lists' ></a>

In [54]:
# Lists
mylist = [234, 5.67, "hello", 567]
print(type(mylist))
print(mylist)
print(mylist[0])
print(mylist[1])
print(mylist[2])
print(mylist[3])
print(mylist[4])

<class 'list'>
[234, 5.67, 'hello', 567]
234
5.67
hello
567

IndexError: list index out of range

In [39]:
type(mylist[2])

str

In [40]:
mylist1 = [1, 2, 3, ['a', 'b', 'c'], 7, 8, 9]

In [41]:
print(mylist1)

[1, 2, 3, ['a', 'b', 'c'], 7, 8, 9]

In [43]:
print(mylist1[3])

['a', 'b', 'c']

In [44]:
print(type(mylist1))
print(type(mylist1[3]))

<class 'list'>
<class 'list'>

In [45]:
print(mylist1[3][1])

b

In [47]:
print(type(mylist1[3][1]))

<class 'str'>

### Tuples <a id='tuples' ></a>

In [48]:
# Tuples
mytuple = (234, 45.6, "Hello")

In [49]:
type(mytuple)

tuple

In [50]:
print(mytuple)

(234, 45.6, 'Hello')

In [56]:
print(mytuple[0])
print(mytuple[1])
print(mytuple[2])
print(mytuple[3])

234
45.6
Hello

IndexError: tuple index out of range

### Dictionary <a id='dictionary' ></a>

In [58]:
# Dictionary
sHash = {"Name": "Python", "ID": 1234, "City": "Hyderabad", 91:"India"}
print(type(sHash))
print(sHash)
print(sHash["ID"])
print(sHash[91])

<class 'dict'>
{'Name': 'Python', 'ID': 1234, 'City': 'Hyderabad', 91: 'India'}
1234
India

In [59]:
print(type(sHash["ID"]))

<class 'int'>

In [60]:
print(sHash["F"])

KeyError: 'F'

In [61]:
print(sHash)

{'Name': 'Python', 'ID': 1234, 'City': 'Hyderabad', 91: 'India'}

In [62]:
sHash

{'Name': 'Python', 'ID': 1234, 'City': 'Hyderabad', 91: 'India'}

In [63]:
print(sHash[1234])

KeyError: 1234

In [64]:
sHash["Name"] = "Java"

In [65]:
print(sHash)

{'Name': 'Java', 'ID': 1234, 'City': 'Hyderabad', 91: 'India'}

### Print <a id='print' ></a>

In [68]:
# Printing
numd = 22
str1 = "Windows10"

In [69]:
print(numd, str1)

22 Windows10

In [70]:
print("We have %d number of Licenses of %s " %(numd, str1))

We have 22 number of Licenses of Windows10

In [71]:
print("We have {} number of Licenses of {}".format(numd, str1))

We have 22 number of Licenses of Windows10

In [72]:
print("We have {} number of Licenses of {}".format(numd))

IndexError: tuple index out of range

In [73]:
print("We have {} number of Licenses of {}".format(str1, numd))

We have Windows10 number of Licenses of 22

In [74]:
print("We have %d number of Licenses of %s " %(numd))

TypeError: not enough arguments for format string

In [75]:
print("We have %d number of Licenses of %s " %(str1, numd))

TypeError: %d format: a number is required, not str

### Escape Sequences <a id='escapesequences' ></a>

In [77]:
# Escape Sequences
print("hello world") # Regular String

hello world

In [80]:
print("hello\tworld") # Tab

hello	world

In [81]:
print("hello\nworld") # New Line

hello
world

In [82]:
print("hello\rworld") # Carriage Return

world

In [83]:
print("hello\vworld") # Vertical Tab

helloworld

In [84]:
print("hello\"world") # Quotes

hello"world

In [85]:
print("hello\bworld") # Backspace

helloworld

In [86]:
print("C:\\mohit") # Slash

C:\mohit

### Input <a id='input' ></a>

In [87]:
# Keyboard Input
user = input("Enter your name: ")

Enter your name: mohit

In [88]:
type(user)

str

In [89]:
print(user)

mohit

In [90]:
age = input("Enter your age: ")

Enter your age: 24

In [91]:
type(age)

str

In [92]:
print(age)

24

In [93]:
age = int(age)

In [94]:
type(age)

int

In [95]:
print(age)

24

In [7]:
# Input three number and print their sum

x = int(input("x = "))
y = int(input("y = "))
z = int(input("z = "))
s = x + y + z
print("The sum of {}, {}, {} is {}".format(x, y, z, s))

x = 123
y = 456
z = 789
The sum of 123, 456, 789 is 1368

### Operators <a id='operators' ></a>

In [19]:
# Logical Operators (and, or, not)
a = 5

In [20]:
a>0 and a>4

True

In [21]:
a>0 and a>5

False

In [22]:
not a

False

In [23]:
not(a)

False

In [24]:
a>0 or a>5

True

In [25]:
a<0 or a>5

False

In [27]:
# Membership Operators (in, not in)
"good" in "this is a good book"

True

In [28]:
"good" in "this is an excellent book"

False

In [29]:
"good" not in "this is a good book"

False

In [30]:
"good" not in "this is an excellent book"

True

In [31]:
# Identity Operators (is, not is)
a = 23
b = 23
print(id(a))
print(id(b))

140704166286848
140704166286848

In [32]:
a is b

True

In [33]:
a is not b

False

In [35]:
var1 = 45
if var1 >= 40:
    print("var1 pass")

var1 pass

In [38]:
var2 = 35
if var2 >= 40:
    print("var2 pass")
else:
    print("var2 fail")

var2 fail

In [19]:
def isTrouble(hour, talkingStatus):
    return talkingStatus and (hour < 7 or hour > 20)

hour = int(input("Hour: "))
talkingStatus = bool(int(input("Talking Status (0 or 1): ")))
trouble = isTrouble(hour, talkingStatus)
print(trouble)

Hour: 22
Talking Status (0 or 1): 1
True

In [32]:
def tempStatus(temp):
    if temp >= 100:
        print("it is hot")
    elif temp <= 60:
        print("it is cold")
    else:
        print("it is just right")

In [33]:
tempStatus(61)

it is just right

In [59]:
def examGrade(score):
    print("Grade is", end = " ")
    if score >= 70:
        print("Distinction")
    elif score >= 60:
        print("First Class")
        print("{} marks for Distinction".format(70-score))
    elif score >= 50:
        print("Second Class")
        print("{} marks for First Class".format(60-score))
    elif score >= 35:
        print("Pass Class")
        print("{} marks for Second Class".format(50-score))
    else:
        print("Fail")
        print("{} marks for Pass Class".format(35-score))

In [60]:
score = int(input("Exam Score (out of 100):"))
examGrade(score)

Exam Score (out of 100):67
Grade is First Class
3 marks for Distinction